.nav {
    background-color: rgb(250, 250, 165);
    grid-area: n;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.item a{
    margin: 10px auto 0 auto;
    color: #12d2bd;
}



.nav .activate_link {
    color: cornflowerblue;
}



