.dialog {
    display: grid;
    grid-template-columns: 3fr 9fr;
    position: relative;
}

.dialogs {
    padding: 10px;
}

.dialog_item {
    text-align: center;
}

.dialog_item a {
    text-align: center;
    color: #ca0505;
}

.messages {
    text-align: center;
}

.message_item {
    color: yellow;
}

.dialog_active {
    color: #565604;
}

.input_form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.input_form button {
    height: 20px;
    width: 100px;
    margin: 2px auto;
}

.input_form textarea {
    width: 100px;
    margin: 0 auto;
}