
.dialog_item img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}


.dialog_item {
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.dialog_item a {
    text-align: center;
    color: #ca0505;
}


.dialog_active {
    color: #565604;
}